# System
*~
.AppleDouble
.LSOverride
_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon?
ehthumbs.db
Thumbs.db

# Development
.grunt
.vagrant/
.sass-cache
vendor
bower_components
node_modules
composer.phar
sftp-config.json
*.sublime-workspace
*.sublime-project
.svn/
_notes
dwsync.xml